.control {
    margin: 0.5rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;

    &-label,
    &-input {
        display: block;
        background-color: white;
    }

    &-label {
        font-weight: bold;
        flex: 1;
        color: white;
        margin-bottom: 0.5rem;
    }

    &-input {
        flex: 3;
        font: inherit;
        padding: 0.35rem 0.35rem;
        border-radius: 30px;
        border: 1px solid white;

        &:focus {
            outline: none;
            border-color: #8a2b06;

        }
    }

    &.invalid {
        & .control-input {
            border-color: red;
            background: #fbdada;
        }
    }


}