.button {
    font: inherit;
    color: black;
    padding: 1rem 3rem;

    &:hover,
    &:active {
        color: #8a2b06;
        border-bottom: 2px solid #8a2b06;
    }

    &:focus {
        outline: none;
    }
}