.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    input[type="text"] {
        width: 400px;
        padding: 10px;
        font-size: 18px;
        border: none;
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;
        outline: none;
        color: black;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 400px;
        color: black;
    }

    li {
        padding: 10px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #555555;
            color: white;
        }
    }
}